    <div class="row box">
      <article class="large-12 columns">
        <header class="dark"><h2>{{blog.posts[blog.currentPost].name}}</h2>
          <div class="meta">{{blog.posts[blog.currentPost].published | date:'MMM d yyyy'}}, by <a href="#">{{blog.posts[blog.currentPost].author}}</a> | <a href="#">{{blog.posts[blog.currentPost].category}}</a></div>
        
        </header>
        <div class="featured"><img ng-src="{{blog.posts[blog.currentPost].featured}}"></div>
        <div class="content">
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
          <h4>We've opened office in Japan!</h4>
          <div id="article-map">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.5026545376304!2d139.6918553!3d35.68924629999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cd498f171e1%3A0xed9e1b322159a20f!2sThe+Tokyo+City+Hall!5e0!3m2!1sen!2sus!4v1403453251529" width="280" height="250" frameborder="0" style="border:0"></iframe>S
          </div>
          <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p></div>
        </article>

      </div>
      <div class="row">
        <div id="comments" class="large-12 columns">

          <div class="comment-header">Comments</div>
          <ul>
            <li class="comment" ng-repeat="comment in blog.posts[blog.currentPost].comments">
              <div class="comment-user-pic"><img ng-src="{{comment.thumb}}"></div>
              <div class="comment-content arrow-box">
                <p>Posted on {{comment.date | date:'d MMM, yyyy'}} by <a href="#">{{comment.name}}</a></p>
                <p>{{comment.comment}}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
       <form name="commentForm" ng-controller="CommentController as commentCtrl" ng-submit="commentForm.$valid && commentCtrl.addComment(comment, blog.currentPost)" novalidate>
      <div id="add-comment" class="row">
        <div class="large-12 columns">
        <div class="row">
          <div id="comment-preview" class="large-12 columns">
            <div class="comment-user-pic"><img src="assets/images/user-blank.jpg"></div>
              <div class="comment-content arrow-box">
                <p><span ng-show="commentCtrl.comment.date.length">Posted on {{commentCtrl.comment.date | date:'d MMM, yyyy'}} </span><span ng-show="commentCtrl.comment.name.length">by <a href="#">{{commentCtrl.comment.name}}</a></span></p>
                <p>{{commentCtrl.comment.comment}}</p>
              </div>
          </div>
        </div>
          <div class="row">
            <div class="large-12 columns">
              <div class="comment-header">Add Comment</div>
            </div>
          </div>
          <div id="name" class="row">
            <div class="large-2 columns">
              <label for="name" class="left inline required">Your Name</label>
            </div>
            <div class="large-10 columns">
              <input ng-model="commentCtrl.comment.name" class="radius" type="text" id="name" required>
            </div>
          </div>

          <div id="email" class="row">
            <div class="large-2 columns">
              <label for="email" class="left inline required">Your Email</label>
            </div>
            <div class="large-10 columns">
              <input ng-model="commentCtrl.comment.email" class="radius" type="email" id="email" required>
            </div>
          </div>

          <div id="comment" class="row">
            <div class="large-2 columns">
              <label for="comment" class="left inline required">Comment</label>
            </div>
            <div class="large-10 columns">
              <textarea ng-model="commentCtrl.comment.comment" class="radius" type="text" id="comment" required></textarea>
            </div>
          </div>

          <div id="form-button" class="row">
            <div class="large-2 columns">
              
            </div>
            <div class="large-10 columns">
              <input type="submit" class="button tiny radius" value="Add Comment"/>
            </div>
          </div>
        </div>
      </div>
      </form>

