<!doctype html>
<html class="no-js" lang="en" id="ng-app" data-ng-app="xplosion-site">
<head>
 <!--[if lte IE 8]>
        <script>
          document.createElement('ng-include');
          document.createElement('ng-pluralize');
          document.createElement('ng-view');

          // Optionally these for CSS
          document.createElement('ng:include');
          document.createElement('ng:pluralize');
          document.createElement('ng:view');
        </script>
      <![endif]-->
      <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
  <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
  <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
<![endif]-->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>X-PLOSION | Soda That Pops, Flavors That Explode</title>
	<link href="assets/css/app.min.css" rel="stylesheet" type="text/css" media="all" />
	<link href="assets/foundation-icons/foundation-icons.min.css" rel="stylesheet" type="text/css" media="all" />
	
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
	<link href="assets/css/flexslider.min.css" rel="stylesheet" type="text/css" media="all" />

	<script src="assets/js/vendor/modernizr.min.js"></script>
	<script src="assets/js/angular.js"></script>
<script src="assets/js/vendor/jquery.min.js"></script>
<script src="assets/js/jquery.flexslider.min.js"></script>
<script src="assets/js/foundation.min.js"></script>

<!--[if lte IE 7]>
        <script src="assets/js/json3.js"></script>
      <![endif]-->
<script src="assets/js/app.min.js"></script>
<script>
$(document).foundation();
</script>





</head>
<body data-ng-controller="BlogController as blog">
	<header>
		<div id="header" class="row">
			<div id="logo" class="large-4 columns"><img src="assets/images/xplosion-logo.png" alt="logo"></div>
			<div id="banner" class="large-4 columns text-center"><img src="assets/images/banner.png" alt="banner"></div>
			<div id="search" class="large-4 columns text-right">
				<form class="inline">
					<input type="search" class="radius" placeholder="Search X-Plosion..." value="Search X-Plosion..."><a href="#" class="button tiny radius">Search</a>
				</form>
			</div>
		</div>
		<nav id="main-menu" class="row" role="navigation">
			<ul>
				<li data-ng-class="{ active:page.isSelected('home.html')}"><a data-ng-click="blog.selectPage('home.html')" class="button">Home</a></li>
				<li data-ng-class="{ active:page.isSelected('blog.html')}"><a data-ng-click="blog.selectPage('blog.html')" class="button">Blog</a></li>
				<li><a href="#" class="button">Our Products</a>
					<ul>
						<li><a href="#" class="button">X-Plosion</a></li>
						<li><a href="#" class="button">Flavors</a></li>
						<li><a href="#" class="button">Merchandise</a></li>
					</ul>
				</li>
				<li><a href="#" class="button">About Us</a></li>
				<li><a href="#" class="button">Where To Buy</a></li>
				<li><a href="#" class="button">Contact Us</a></li>
			</ul>
		</nav>
	</header>
	<div class="row">
		<section data-ng-include="blog.currentPage" class="large-8 columns">
			Stuff
		</section>
		<section id="sidebar" class="large-4 columns">
  <div class="box">
    <header><h3>Follow Us</h3></header>
    <div class="social"><img src="assets/images/facebook-color.png" alt="social"/><p><a href="http://www.facebook.com" target="_blank">Facebook</a></p></div>
    <div class="social"><img src="assets/images/twitter-color.png" alt="social"/><p><a href="http://www.twitter.com" target="_blank">Twitter</a></p></div>
    <div class="social"><img src="assets/images/googleplus-color.png" alt="social"/><p><a href="http://plus.google.com" target="_blank">Google+</a></p></div>
  </div>

  <div id="recent" class="box">
    <header><h3>Randomly Selected</h3></header>
    <p data-ng-repeat="post in blog.posts | limitTo : 5"><i class="fa fa-sign-out"></i> <a data-ng-click="blog.loadPost(post.id, 'blog.html');">{{post.name}}</a></p>

  </div>

  <div class="box">
    <header><h3>Where Can You Find Us?</h3></header>
    <p><span style="font-weight:bold;">X-Plosion Ltd.</span><br>
      9 Danbury Rd<br>
      Wilton, CT 06897<br>
      Page: {{page}}<br>
      Post: {{blog.currentPost}}</p>
    </div>
  </section>

	</div>
	<footer id="footer">
		<div class="row">
			<div id="footer-left" class="large-6 columns">&copy; 2014 X-Plosion Ltd.</div>
			<div id="footer-right" class="large-6 columns">
				<ul id="footer-menu">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Terms</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</footer>
</body>
</html>