// Make sure the charset is set appropriately
@charset "UTF-8";

// Global Foundation Settings
@import "foundation/settings";

// You can import only specific elements by adjusting the import below
@import "foundation";




h3 {
	font-size: rem-calc(14px);
	font-weight: bold;
	color: #e61052;
	text-transform: uppercase;
}

h4 {
	font-weight: bold;
	font-size: rem-calc(13px);
	color:#97866f;
	//padding-bottom: 0 !important;
}

body {
	background: #eae2d7 url("../images/bg.png") repeat-x;
	min-width:1024px;
}


// Header



#header {
	margin-top: 40px;

}

#logo {
	line-height: 60px;
}

#logo img {
	padding-left: 20px;
}

#search {
	line-height: 60px;
}

#search input {
	width: 210px !important;
	display: inline-block;
	margin-right: rem-calc(10px);
	height: rem-calc(31px);
	top: -1px;
	position: relative;
	margin-bottom: 0;
	font-size: 12px;
}

#search .button {
	height: rem-calc(31px);
	text-transform: uppercase;
	font-size: rem-calc(11px);
	padding-top: .575rem;
	margin-bottom: 0;
	padding-right: 18px;
	padding-left: 18px;
}

.button {
	background: rgb(250,45,108); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(250,45,108,1) 0%, rgba(230,16,82,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,45,108,1)), color-stop(100%,rgba(230,16,82,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(250,45,108,1) 0%,rgba(230,16,82,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(250,45,108,1) 0%,rgba(230,16,82,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(250,45,108,1) 0%,rgba(230,16,82,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(250,45,108,1) 0%,rgba(230,16,82,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa2d6c', endColorstr='#e61052',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
}

#main-menu {
	display: table;
	 table-layout: fixed;
	text-align: justify;
	text-justify:inter-word;
	width: 100%;
	min-width: 960px;
	border-radius:10px;
	//height:55px;
	margin-top: 40px;
	margin-bottom: 40px;
 
  box-shadow: 2px 2px 0px 0px rgba( 0, 0, 0, .2 );
max-width:970px


}



#main-menu a {
	color:white;
	padding-left: 0;
	padding-right: 0;

  text-shadow: 0.5px 0.866px 0px rgba( 0, 0, 0, .2 );
-webkit-font-smoothing: antialiased !important;

}

#main-menu ul {
	display: table-row;
}

#main-menu li {
	display: table-cell;
	
}

#main-menu .button {
	width:100%;
	text-transform: uppercase;
	margin:0;
	font-size: rem-calc(12px);
	
	font-family: "Arial";
}

#main-menu > ul > li .button {
	border-style: dotted;
	border-width: 0px;
	border-right-width: 1px;
	border-collapse: collapse;
	border-color: #eae2d7;
}

#main-menu > ul > li:last-child .button {
	border:none;
}

#main-menu > ul > li > ul {
		display: none;
	}

#main-menu > ul > li:hover > ul {
	display: block;
	position: absolute;
	z-index: 10;
	margin-left: 0px;
	min-width: 161px;
}

.active .button {
background: rgb(80,65,42); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(80,65,42,1) 0%, rgba(42,31,15,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(80,65,42,1)), color-stop(100%,rgba(42,31,15,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(80,65,42,1) 0%,rgba(42,31,15,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(80,65,42,1) 0%,rgba(42,31,15,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(80,65,42,1) 0%,rgba(42,31,15,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(80,65,42,1) 0%,rgba(42,31,15,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50412a', endColorstr='#2a1f0f',GradientType=0 ); /* IE6-9 */

}

#main-menu > ul > li > ul > li {

	display: block;

	
}

#main-menu > ul > li > ul > li .button {
	margin:0;
	display: block;
	text-align: left;
	border-style: dotted;
	border-width: 0px;
	border-right-width: 0px;
	border-top-width: 1px;
	border-collapse: collapse;
	border-color: #eae2d7;
	text-transform: none;
	height:40px;
	padding-top: 12px;
	padding-left: 20px;
}

#main-menu ul li:hover .button {
	background: rgb(142,118,84); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(142,118,84,1) 0%, rgba(90,72,46,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(142,118,84,1)), color-stop(100%,rgba(90,72,46,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(142,118,84,1) 0%,rgba(90,72,46,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(142,118,84,1) 0%,rgba(90,72,46,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(142,118,84,1) 0%,rgba(90,72,46,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(142,118,84,1) 0%,rgba(90,72,46,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e7654', endColorstr='#5a482e',GradientType=0 ); /* IE6-9 */

}

#main-menu ul li ul li .button {
	background: #5a482e !important; /* Old browsers */
	
}

#main-menu ul ul .button:hover {
	background: #907755 !important; /* Old browsers */
	
}

#main-menu li:first-child .button {
	-webkit-border-radius: 10px;
	-webkit-border-top-right-radius: 0px !important;
	-webkit-border-bottom-right-radius: 0px !important;
	-moz-border-radius: 10px;
	-moz-border-radius-topright: 0px !important;
	-moz-border-radius-bottomright: 0px !important;
	border-radius: 10px;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

#main-menu li:not(:first-child):not(:last-child) .button {
	border-radius: 0px;
}

#main-menu li:last-child .button {
	-webkit-border-radius: 0px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius: 0px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-radius: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

}

#main-menu > ul > li > ul > li:last-child .button {
	-webkit-border-radius: 10px !important;
	-webkit-border-top-left-radius: 0px !important;
	-webkit-border-top-right-radius: 0px !important;
	-moz-border-radius: 10px !important;
	-moz-border-radius-topleft: 0px !important;
	-moz-border-radius-topright: 0px !important;
	border-radius: 10px !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.flexslider {
	background: none !important;
	border: none !important;
	webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-o-box-shadow: none !important;
	box-shadow: none !important;
}

#slider {
	//border-width: 1px;
	//border-style: dashed;
	height:400px;
	//margin-bottom: rem-calc(40px);
}

#slider-screen {
	height: rem-calc(400px);
	//margin-bottom: rem-calc(40px);
	//background: url("/assets/images/slider-image-1.png");
	//background-clip: none;
}

#slider li {
	width: auto !important;
	position: absolute !important;

}

#sliderControls {
	width:600px;
	background-color: #c9bba9;
	border-radius: 10px;
	height: rem-calc(170px);
	text-align: center;
	box-shadow: 2px 2px 0px 0px rgba( 0, 0, 0, .2 );
	z-index: 10;
	position: relative;
	margin: 0 20px 40px;
}

.slider-btn {
	position:absolute;
	height:50px;
	width:44px;
	padding-right: 0;
	padding-left: 0;
	z-index: 5;
	margin-top:60px;
	box-shadow: 2px 2px 0px 0px rgba( 0, 0, 0, .2 );
}

.slider-btn {
	@extend .button;
	height:55px !important;
	width:40px;
	//font-size: 12px !important;
}

.flex-prev {
	//left:0px
	@extend .slider-btn;
	left:-20px !important;
}

.flex-next {
	//right:0px;
	@extend .slider-btn;
	right:-20px !important;
}

.flex-direction-nav a:before {
	font-size: 12px !important;
	line-height: 12px;
	text-align: center !important;
	
}

.flex-direction-nav a {
	text-align: center !important;
	top: 45% !important;
}

#sliderControls > ul > li > a {
	opacity:1;
	height: 100px;
}

#sliderControls > ol {
	margin: 20px 0;
	padding: 20px 0;
}

#sliderControls > ol > li {
	//float: none;
	width:160px;
	height:130px;
	margin:0 10px;

}

#sliderControls > ol > li:first-child {
	margin-left: 40px;
}

#sliderControls > ol > li:last-child {
	margin-right: 40px;
}

#sliderControls > ol > li > img {
	border-radius: 10px;
}

#sidebar {
	z-index: 50;
}

.box {
	background-color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: rem-calc(20px);
	margin-bottom: rem-calc(20px);
	 box-shadow: 2px 2px 0px 0px rgba( 0, 0, 0, .2 );
	 padding:0 0 20px 0;
}

.row.box > .columns {
	padding:0;
	
}

.box h2 {
	padding: rem-calc(22px);
	padding-bottom: 10px;
	margin:0;
	line-height: 22px;
	font-size: 22px;
}

.box h3 {
	padding: rem-calc(20px);
	//padding-bottom: 10px;
	margin:0;

}



article h3 {
	padding-bottom: 10px;
}

article p {
	line-height: 20px;

}

#article-map {
	float:right;
	margin: 20px;
	margin-bottom: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb( 234, 225, 212 );
  //-webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.75);
//-moz-box-shadow:    inset 0px 0px 0px 3px rgba(255, 255, 255, 0.75);
//box-shadow:         inset 0px 0px 0px 3px rgba(255, 255, 255, 0.75);
//overflow-x: hidden;
}

.featured {
	padding:20px 20px 0 20px;
}

.map {
	margin: 3px 3px 2px 3px;
	 border-style: solid;
  border-width: 3px;
  border-color: rgb( 255,255,255 );
}



.box h4 {
	padding: rem-calc(20px);
	margin:0;
}
.box .meta {
	padding: 0 1.25rem 1.25rem;
	margin: 0;
	font-size: 14px;
	color: #f6c8d6;
	font-family: "Calibri";
	font-weight: 300;
}

.box .meta a {
	color: #f6c8d6;
	text-decoration: underline;
}
.box header {
	border-style: dotted;
	border-width: 0;
	border-bottom-width: 1px;
	border-collapse: collapse;
	border-color: #eae2d7;
	line-height: rem-calc(14px);
}

.row.box {
	margin:0 auto 20px auto;
	padding-bottom:0;

}

.row.box h4 a {
	text-decoration: none;
}



.row.box > .columns:first-child > header {
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 0px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 0px;
border-top-left-radius: 10px;
border-top-right-radius: 0px;
}

.row.box > .columns:last-child > header {
-webkit-border-top-left-radius: 0px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 0px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 0px;
border-top-right-radius: 10px;
border-right-width: 0px;

}
.row.box > .columns:only-child > header {
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-width: 0;
border: none;
}
.row.box > .columns > header {
	border-style: dotted;
	border-width: 0;
	border-bottom-width: 0px;
	border-right-width: 1px;
	border-collapse: collapse;
	border-color: #eae2d7;
	line-height: rem-calc(14px);
	box-shadow: 0px 2px 0px 0px rgba( 0, 0, 0, .2 );
}

.row.box > .columns:first-child > div {
	border-style: dotted;
	border-width: 0;
	border-bottom-width: 0px;
	border-right-width: 1px;
	border-collapse: collapse;
	border-color: #eae2d7;
	//border: none;
}

.row.box > .columns > div:last-child {
	padding-bottom:rem-calc(20px);
}

.row.box > .columns:only-child > div {
	border: none;
	border-width: 0;
}

.dark {
	background: rgb(250,45,108); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(250,45,108,1) 0%, rgba(230,16,82,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,45,108,1)), color-stop(100%,rgba(230,16,82,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(250,45,108,1) 0%,rgba(230,16,82,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(250,45,108,1) 0%,rgba(230,16,82,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(250,45,108,1) 0%,rgba(230,16,82,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(250,45,108,1) 0%,rgba(230,16,82,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa2d6c', endColorstr='#e61052',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
	
}

.dark h2 {
	color: white;
	text-shadow: 0.5px 0.866px 0px rgba( 0, 0, 0, .2 );
}

.dark h3 {
	color: white;
	text-shadow: 0.5px 0.866px 0px rgba( 0, 0, 0, .2 );
}



.box p {
	padding: rem-calc(20px) rem-calc(10px) 0 rem-calc(20px);
	font-size: rem-calc(12px);
	color: #97866f;
	margin:0;
}

.box a {
	color: #97866f;
}

.box a:hover {
	text-decoration: underline;
}

.box i {
	padding-right: 10px;
}

.social {
	display: inline-block;
	padding-left: 7px;
}

.social:first-of-type {
	padding-left: 20px !important;
}


.social p {
	display: inline-block;
	padding-left: 7px;
}

.social a {
	color: #97866f;
}

.social a:hover {
	text-decoration: underline;
}
.excerpt {
	width: 45%;
	padding-right:0;
}

.excerpt img {
	padding: 0 0 0 rem-calc(20px);
	//float:left;
}

#recent p:hover {

}

.description {
	padding:0 rem-calc(20px) 0 0;
	float:left;
	width:55%;
	//position: relative;
	//font-size: rem-calc(12px);

}

.description p {
	padding:0 20px 0 0;
}

.more {
	margin:rem-calc(20px) 0 rem-calc(5px);
	font-size: rem-calc(12px);
	//color: #e61052;
}

.more a {
	color: #e61052;
}

.more a:hover {
	text-decoration: none;
}

.more a i {
	padding-left: 5px;
	transition:All .25s ease;
	/* -webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
	transform: translate(10px);
	-webkit-transform: translate(10px);
	-moz-transform: translate(10px);
	-o-transform: translate(10px);
	-ms-transform: translate(10px); */
}

.more a:hover i {
	transform: translate(3px);
-webkit-transform: translate(3px);
-moz-transform: translate(3px);
-o-transform: translate(3px);
-ms-transform: translate(3px);	
}

.content > h4 {
	padding-bottom: 0;
}

#comments {
	//margin: 40px 20px;
	//display: table;
	width:100%
}


.comment {
	list-style-type: none;
	margin-bottom:20px;
}

#comments > ul {
	margin-left:0;
}


.comment-user-pic {
	display: inline-block;
	max-width: 75px;
	//height: 100%;
	//background-color: black;
	vertical-align: middle;
}

.comment-content {

	display: inline-block;
	vertical-align: middle;
	width:560px;
	margin-left: 15px;
	font-size: 12px !important;
	color: white;
}

.comment-content > .meta {
	font-size: 12px !important;
	color: white;
	margin-bottom:rem-calc(12px);
}

.comment-content p {
	font-size: 12px !important;
	color: white;
	margin-bottom:rem-calc(12px);
}

.comment-content p:last-child {
	margin-bottom:0;
}

.comment-content a {
	color: white;
	text-decoration: underline;
}

.comment-header {
	font-size: 18px;
	padding: 20px 0;
	text-transform: uppercase;
	color: #e61052;
	font-weight: bold;
}

#comment-preview .comment-content {
	background: rgba(185,169,149,.5);
}

#comment-preview .comment-content:after {
	border-right-color: rgba(185,169,149,.5);
	//border-color: rgba(185,169,149,.5);
}



.arrow-box {
	position: relative;
	//display: inline;
	background: #b9a995;
	padding: 20px;
	border-radius: 10px;
	border-color: #b9a995;
	
}
.arrow-box:after {
	right: 99.9%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	
	position: absolute;
	pointer-events: none;
	border-color: rgba(185, 169, 149, 0);
	border-right-color: #b9a995;
	border-width: 10px;
	margin-top: -10px;
}

#add-comment label {
	font-size: 12px;
	margin-bottom: 0;
}

#add-comment input {
	height:29px;
	margin-bottom: 0;
}

#add-comment textarea {
	height: 152px !important;
}

#form-button > div.large-10.columns > a {
	font-size: 12px;
	text-transform: uppercase;
	height: 
}

.required:after {
	content: " *";
	font-size: 12px;
	color: red;
}

.ng-invalid.ng-dirty {
	border-color:red;

}

.ng-valid.ng-dirty {
	border-color:green;
}

#footer {
	background: #c9bba9;
	height: 90px;
	margin-top: 40px;
	box-shadow: inset 2px 2px 0px 0px rgba( 0, 0, 0, .2 );
}

#footer .row{
	padding:40px 0 15px;
}

#footer > .row > div {
	font-size: 12px !important;
}

#footer-right {
	float: right;
}

#footer-menu {
	list-style: none;
	text-align: right;
	line-height: 12px !important;
	font-size: 12px !important;
}

#footer-menu li {
	font-size: 12px;
	display: inline;
	padding: 0 20px; 
	border-style: dotted;
	border-width: 0;
	border-right-width: 1px;

}

#footer-menu li:first-child {
	border-style: dotted;
	border-width: 0;
	border-left-width: 1px;
	border-right-width: 1px;
}

#footer-menu li a {
	color: #97866f;

}

#footer-menu li a:hover {
	text-decoration: underline;
}

// Helpers

.middle {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

