// Make sure the charset is set appropriately
@charset "UTF-8";

// Global Foundation Settings
@import "foundation/settings";

// You can import only specific elements by adjusting the import below
@import "foundation";

h3 {
	font-size: rem-calc(14px);
	font-weight: bold;
	color: #e61052;
	text-transform: uppercase;
}

h4 {
	font-weight: bold;
	font-size: rem-calc(13px);
	color:#2a1f0f;
}

body {
	background: rgb(218,203,183); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(218,203,183,1) 0%, rgba(234,226,215,1) 200px, rgba(234,226,215,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(218,203,183,1)), color-stop(200px,rgba(234,226,215,1)), color-stop(100%,rgba(234,226,215,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(218,203,183,1) 0%,rgba(234,226,215,1) 200px,rgba(234,226,215,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(218,203,183,1) 0%,rgba(234,226,215,1) 200px,rgba(234,226,215,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(218,203,183,1) 0%,rgba(234,226,215,1) 200px,rgba(234,226,215,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(218,203,183,1) 0%,rgba(234,226,215,1) 200px,rgba(234,226,215,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dacbb7', endColorstr='#eae2d7',GradientType=0 ); /* IE6-9 */
}


// Header



#header {
	margin-top: 40px;

}

#logo {
	line-height: 60px;
}

#search {
	line-height: 60px;
}

#search input {
	width: auto !important;
	display: inline-block;
	margin-right: rem-calc(10px);
	height: rem-calc(31px);
	top: -1px;
	position: relative;
	margin-bottom: 0;
}

#search .button {
	height: rem-calc(31px);
	text-transform: uppercase;
	font-size: rem-calc(11px);
	padding-top: .575rem;
	margin-bottom: 0;
}

.button {
	background: rgb(250,45,108); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(250,45,108,1) 0%, rgba(230,16,82,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,45,108,1)), color-stop(100%,rgba(230,16,82,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(250,45,108,1) 0%,rgba(230,16,82,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(250,45,108,1) 0%,rgba(230,16,82,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(250,45,108,1) 0%,rgba(230,16,82,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(250,45,108,1) 0%,rgba(230,16,82,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa2d6c', endColorstr='#e61052',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
}

#main-menu {
	display: table;
	 table-layout: fixed;
	text-align: justify;
	text-justify:inter-word;
	width: 100%;
	min-width: 960px;
	border-radius:10px;
	//height:55px;
	margin-top: 40px;
	margin-bottom: 40px;
 
  box-shadow: 2px 2px 0px 0px rgba( 0, 0, 0, .2 );
max-width:970px


}



#main-menu a {
	color:white;

  text-shadow: 0.5px 0.866px 0px rgba( 0, 0, 0, .2 );
-webkit-font-smoothing: antialiased !important;

}

#main-menu ul {
	display: table-row;
}

#main-menu li {
	display: table-cell;
	
}

#main-menu .button {
	width:100%;
	text-transform: uppercase;
	margin:0;
	font-size: rem-calc(12px);
	
	font-family: "Arial";
}

#main-menu > ul > li .button {
	border-style: dotted;
	border-width: 0px;
	border-right-width: 1px;
	border-collapse: collapse;
	border-color: #eae2d7;
}

#main-menu > ul > li:last-child .button {
	border:none;
}

#main-menu > ul > li > ul {
		display: none;
	}

#main-menu > ul > li:hover > ul {
	display: block;
	position: absolute;
	z-index: 10;
	margin-left: 0px;
	min-width: 167px;
}

#main-menu > ul > li > ul > li {

	display: block;
	
}

#main-menu > ul > li > ul > li .button {
	margin:0;
	display: block;
	text-align: left;
	border-style: dotted;
	border-width: 0px;
	border-right-width: 0px;
	border-top-width: 1px;
	border-collapse: collapse;
	border-color: #eae2d7;
	text-transform: none;
}

	

#main-menu ul li:hover .button {
	background: rgb(142,118,84); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(142,118,84,1) 0%, rgba(90,72,46,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(142,118,84,1)), color-stop(100%,rgba(90,72,46,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(142,118,84,1) 0%,rgba(90,72,46,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(142,118,84,1) 0%,rgba(90,72,46,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(142,118,84,1) 0%,rgba(90,72,46,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(142,118,84,1) 0%,rgba(90,72,46,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e7654', endColorstr='#5a482e',GradientType=0 ); /* IE6-9 */

}


#main-menu ul li ul li .button {
	background: #5a482e !important; /* Old browsers */
	
}

#main-menu ul ul .button:hover {
	background: #907755 !important; /* Old browsers */
	
}



#main-menu li:first-child .button {
	-webkit-border-radius: 10px;
	-webkit-border-top-right-radius: 0px !important;
	-webkit-border-bottom-right-radius: 0px !important;
	-moz-border-radius: 10px;
	-moz-border-radius-topright: 0px !important;
	-moz-border-radius-bottomright: 0px !important;
	border-radius: 10px;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

#main-menu li:not(:first-child):not(:last-child) .button {
	border-radius: 0px;
}

#main-menu li:last-child .button {
	-webkit-border-radius: 0px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius: 0px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-radius: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

}

#main-menu > ul > li > ul > li:last-child .button {
	-webkit-border-radius: 10px !important;
	-webkit-border-top-left-radius: 0px !important;
	-webkit-border-top-right-radius: 0px !important;
	-moz-border-radius: 10px !important;
	-moz-border-radius-topleft: 0px !important;
	-moz-border-radius-topright: 0px !important;
	border-radius: 10px !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.box {
	background-color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: rem-calc(20px);
	margin-bottom: rem-calc(20px);
	 box-shadow: 2px 2px 0px 0px rgba( 0, 0, 0, .2 );
	 padding:0 0 20px 0;
}

.box .columns {
	padding:0;
	
}
.box h3 {
	padding: rem-calc(20px);
	margin:0;

}

.box h4 {
	padding: rem-calc(20px);
	margin:0;
}

.box header {
	border-style: dotted;
	border-width: 0;
	border-bottom-width: 1px;
	border-collapse: collapse;
	border-color: #eae2d7;
	line-height: rem-calc(14px);
}

.row.box {
	margin:auto;
}

.row.box > .columns:first-child > header {
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 0px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 0px;
border-top-left-radius: 10px;
border-top-right-radius: 0px;
}

.row.box > .columns:last-child > header {
-webkit-border-top-left-radius: 0px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 0px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 0px;
border-top-right-radius: 10px;
border-right-width: 0px;
}

.row.box > .columns > header {
	border-style: dotted;
	border-width: 0;
	border-bottom-width: 0px;
	border-right-width: 1px;
	border-collapse: collapse;
	border-color: #eae2d7;
	line-height: rem-calc(14px);
	box-shadow: 0px 2px 0px 0px rgba( 0, 0, 0, .2 );
}
.dark {
	background: rgb(250,45,108); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(250,45,108,1) 0%, rgba(230,16,82,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,45,108,1)), color-stop(100%,rgba(230,16,82,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(250,45,108,1) 0%,rgba(230,16,82,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(250,45,108,1) 0%,rgba(230,16,82,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(250,45,108,1) 0%,rgba(230,16,82,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(250,45,108,1) 0%,rgba(230,16,82,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa2d6c', endColorstr='#e61052',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
	
}

.dark h3 {
	color: white;
	text-shadow: 0.5px 0.866px 0px rgba( 0, 0, 0, .2 );
}



.box p {
	padding: rem-calc(20px) 0 0 rem-calc(20px);
	font-size: rem-calc(12px);
	color: #97866f;
	margin:0;
}

.box a {
	color: #97866f;
}

.box a:hover {
	text-decoration: underline;
}

.box i {
	padding-right: 10px;
}

.social {
	display: inline-block;
	padding-left: 20px;
}


.social p {
	display: inline-block;
	padding-left: 5px;
}

.social a {
	color: #97866f;
}

.social a:hover {
	text-decoration: underline;
}
// Helpers

.middle {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}