<footer id="footer">
		<div class="row">
			<div id="footer-left" class="large-6 columns">&copy; 2014 X-Plosion Ltd.</div>
			<div id="footer-right" class="large-6 columns">
				<ul id="footer-menu">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Terms</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</footer>