<section id="sidebar" class="large-4 columns">
  <div class="box">
    <header><h3>Follow Us</h3></header>
    <div class="social"><img src="/assets/images/facebook-color.png"/><p><a href="http://www.facebook.com" target="_blank">Facebook</a></p></div>
    <div class="social"><img src="/assets/images/twitter-color.png"/><p><a href="http://www.twitter.com" target="_blank">Twitter</a></p></div>
    <div class="social"><img src="/assets/images/googleplus-color.png"/><p><a href="http://plus.google.com" target="_blank">Google+</a></p></div>
  </div>

  <div id="recent" class="box">
    <header><h3>Randomly Selected</h3></header>
    <p ng-repeat="post in blog.posts | limitTo : 5"><i class="fa fa-sign-out"></i> <a href ng-click="page.selectPage('blog-single.html'); blog.loadPost(post.id);">{%raw%}{{post.name}}{%endraw%}</a></p>

  </div>

  <div class="box">
    <header><h3>Where Can You Find Us?</h3></header>
    <p><span style="font-weight:bold;">X-Plosion Ltd.</span><br>
      9 Danbury Rd<br>
      Wilton, CT 06897<br>
      Page: {%raw%}{{page}}{%endraw%}<br>
      Post: {%raw%}{{blog.currentPost}}{%endraw%}</p>
    </div>
  </section>
