{% block content %} 
<div class="row">
  <div class="large-8 columns">
    
    <div class="row box">
      <article class="large-12 columns">
        <header class="dark"><h2>X-Plosion is a hit in Japan</h2>
        <div class="meta">Sept 12 2011, by <a href="#">Freddy Marketer</a> | <a href="#">X-Plosion Expansion</a></div>
        </header>
        <div class="featured"></div>
        <div class="content"><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p></div>
      </article>
      
    </div>
  </div>
  <section id="sidebar" class="large-4 columns">
    <div class="box">
      <header><h3>Follow Us</h3></header>
      <div class="social"><img src="/assets/images/facebook-color.png"/><p><a href="http://www.facebook.com" target="_blank">Facebook</a></p></div>
      <div class="social"><img src="/assets/images/twitter-color.png"/><p><a href="http://www.twitter.com" target="_blank">Twitter</a></p></div>
      <div class="social"><img src="/assets/images/googleplus-color.png"/><p><a href="http://plus.google.com" target="_blank">Google+</a></p></div>
    </div>

    <div id="recent" class="box">
      <header><h3>Randomly Selected</h3></header>
      <p><i class="fa fa-sign-out"></i> <a href="#">X-Plosion is a hit in Japan</a></p>
      <p><i class="fa fa-sign-out"></i> <a href="#">3 new flavors added</a></p>
      <p><i class="fa fa-sign-out"></i> <a href="#">Check out our new promo at Youtube</a></p>
      <p><i class="fa fa-sign-out"></i> <a href="#">We say NO to artificial flavors</a></p>
      <p><i class="fa fa-sign-out"></i> <a href="#">X-Plosion and your health</a></p>

    </div>

    <div class="box">
      <header><h3>Where Can You Find Us?</h3></header>
      <p><span style="font-weight:bold;">X-Plosion Ltd</span><br>
        9 Danbury Rd<br>
        Wilton, CT 06897</p>
      </div>
    </section>
  </div>
  {% endblock %}