{% block content %} 
<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div id="slider" class="large-12 columns">
        <div class="flexslider">
          <ul class="slides">
            <li data-thumb="assets/images/slide-1-thumb.jpg">
              <img src="assets/images/slider-image-1.png" />
            </li>
            <li data-thumb="assets/images/slide-2-thumb.jpg">
              <img src="assets/images/slider-image-2.png" />
            </li>
            <li data-thumb="assets/images/slide-3-thumb.jpg">
              <img src="assets/images/slider-image-3.png" />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <div id="sliderControls"></div>
      </div>
    </div>
    <div class="row box">
      <div class="large-6 columns">
        <header class="dark"><h3>X-Plosion Products</h3></header>
        <div ng-repeat="post in blog.posts | filter:'Products'| orderBy:'-published' | limitTo : 2 ">
          <h4>{%raw%}{{post.name}}{%endraw%}</h4>
          <div class="row">
            <div class="large-6 columns excerpt"><img ng-src="{%raw%}{{post.thumb}}{%endraw%}"></div>
            <div class="large-6 columns description"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              <div class="more"><a href="#">More <i class="fa fa-sign-out"></i></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="large-6 columns">
        <header class="dark"><h3>X-Plosion Expansion</h3></header>
        <div ng-repeat="post in blog.posts | filter:'Expansion' | orderBy:'-published' | limitTo : 2">
          <h4>{%raw%}{{post.name}}{%endraw%}</h4>
          <div class="row">
            <div class="large-6 columns excerpt"><img ng-src="{%raw%}{{post.thumb}}{%endraw%}"></div>
            <div class="large-6 columns description"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              <div class="more"><a href="#">More <i class="fa fa-sign-out"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  </div>
  {% endblock %}